header {
    align-items: center;
    display: flex;
}


header h1 {
    font-size: var(--lumo-font-size-m);
    margin: 0;
}
header .vaadin-button-container {
    text-align: left;
    font-size: var(--lumo-font-size-m);
    margin: 0;
}

header>vaadin-button{
    position: fixed;
    right: 15px;
}

main {
    padding: var(--lumo-space-l);
}